In [2]:
import pandas as pd

gss = pd.read_csv('data/gss_bayes.csv', index_col=0)
gss.head()

        year   age  sex  polviews  partyid  indus10
caseid
1       1974  21.0    1       4.0      2.0   4970.0
2       1974  41.0    1       5.0      0.0   9160.0
5       1974  58.0    2       6.0      1.0   2670.0
6       1974  30.0    1       5.0      4.0   6870.0
7       1974  48.0    1       5.0      4.0   7860.0

In [3]:
banker = (gss['indus10'] == 6870)
banker.head()

caseid
1    False
2    False
5    False
6     True
7    False
Name: indus10, dtype: bool

In [4]:
banker.sum() # 728 명의 banker (anduril == 'indus 6870')

728

In [5]:
banker.mean()

0.014769730168391155

In [6]:
def prob(A):
    """calculate probabilities of given A"""
    return A.mean()

In [7]:
prob(banker)

0.014769730168391155

In [8]:
female = (gss['sex'] == 2)

In [9]:
prob(female)

0.5378575776019476

In [10]:
liberal = (gss['polviews'] <= 3) # 되게 진보적인 사람들의 통계

In [11]:
prob(liberal) # 진보적인 성향은 약 27%

0.27374721038750255

In [12]:
democrat = (gss['partyid'] <= 1)
democrat.head()

caseid
1    False
2     True
5     True
6    False
7    False
Name: partyid, dtype: bool

In [13]:
prob(democrat)

0.3662609048488537

In [14]:
prob(banker & democrat) # 은행원이면서 민주당일 확률 (조건부 확률)

0.004686548995739501

In [15]:
prob(democrat & banker) # 논리곱이므로 교환해도 등가 치환 가능함

0.004686548995739501